.footer {
  padding-top: clamp(2.813rem, 1.563rem + 6.25vw, 6.25rem);
  padding-bottom: clamp(2.813rem, 1.563rem + 6.25vw, 6.25rem);
  background-color: #000;
  color: #fff;
}

.footerDivider {
  margin-top: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
  margin-bottom: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
  height: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
  background-color: #c09d75;
}

.bottomWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.policyLinks {
  display: flex;
  justify-content: flex-start;

  // @media screen and (min-width: 768px) {
  //   justify-content: flex-start;
  // }
}

.policyLink {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  letter-spacing: .4px;
  color: #fff;
  text-decoration: none;

  // @media screen and (min-width: 768px) {
    &::after {
      content: '|';
      margin: 0 20px;
    }

    &:last-child::after {
      content: ''; // Убираем контент псевдоэлемента
      margin: 0;   // Убираем отступы, если они не нужны
    }
  // }
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(1.25rem, 0.341rem + 4.55vw, 3.75rem);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 980px) {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
}

.logoLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  margin: 0 auto;
}

.socialLinks {
  display: flex;
  justify-content: start;
  gap: 10px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    // justify-content: center;
  }
}

.title {
  font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
  font-weight: 300;
  margin-bottom: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
  position: relative;
  width: fit-content;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #c09d75;
  }
}

.companyBlock {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.paragraphs {
  margin-bottom: 20px;
}

.paragraph {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  font-weight: 300;
  line-height: 120%;
  letter-spacing: .4px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactLabel {
  font-size: 16px;
  font-weight: 300;
}

.newsLetterForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsLetterInput {
  padding: 10px;
  border: 1px solid #c09d75;
  background-color: transparent;
  color: #fff;

  &:focus {
    outline: none;
  }
}

.newsLetterButton {
  padding: 10px;
  background-color: #c09d75;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: #a97b4d;
  }
}