.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to bottom, rgba(2, 1, 2, .45) 0, rgba(2, 1, 2, .05) 100%);
  transition: background-color 0.3s;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companyData {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logoImage {
  display: none;
  position: relative;
  z-index: 101;

  @media screen and (min-width: 768px){
    display: block;
  }
}

.logoImageMobile {
  position: relative;
  z-index: 101;
  
  @media screen and (min-width: 767px){
    display: none;
  }
}

.description {
  max-width: 255px;
  color: #8A929C;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: -0.65px;

  @media screen and (max-width: 1440px){
    display: none;
  }
}

.navWrapperParent {

  @media screen and (max-width: 768px){
    order: 5;
  }
}

.navWrapper {

  @media screen and (max-width: 768px){
    position: absolute;
    top: 0;
    left: 200vw;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    height: 100lvh;
  }
}

.navWrapperOpen {
  left: 0;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 60px;

  @media screen and (max-width: 1600px){
    gap: 30px;
  }

  @media screen and (max-width: 325px){
    gap: 15px;
  }
}

.contactLinks {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contactLink {

  @media screen and (max-width: 768px){
    position: relative;
    z-index: 101;
  }
}

.contactIcon {

  @media screen and (max-width: 1120px){
    width: 35px;
    height: 35px;
  }
}

.contactData {

  @media screen and (max-width: 820px){
    display: none;
  }
}

.workingHours {
  color: #8A929C;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.65px;

  @media screen and (max-width: 1120px){
    font-size: 11px;
  }

  @media screen and (max-width: 860px){
    font-size: 10px;
  }
}

.phoneNumber {
  color: #091728;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.5px;

  @media screen and (max-width: 1600px){
    font-size: 20px;
  }

  @media screen and (max-width: 860px){
    font-size: 18px;
  }
}

.contactButtons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.phoneButton {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 17px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;

  @media screen and (max-width: 1120px){
    width: 35px;
   height: 35px;
  }

  @media screen and (max-width: 768px){
    position: relative;
    z-index: 101;
  }
}

.navLinks {
  display: flex;
  gap: 25px;

  @media screen and (max-width: 1440px) {
    gap: 20px;
  }

  @media screen and (max-width: 768px){
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    // padding-top: 100px;
  }
}

.navLink {
  color: #c09d75;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */
  letter-spacing: -0.8px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #c09d75;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
  }

  @media screen and (max-width: 768px){
    color: #fff;
  }
}

.scrolled .header {
  background: #fff;
  transition: background-color 0.3s ease;
}