.hero {
  // margin-top: 70px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s;

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .95), rgba(0, 0, 0, 0), rgba(0, 0, 0, .95));
    pointer-events: none;
  }

  @media screen and (min-width: 768px) {
    height: unset;
    aspect-ratio: 16/9;
    
  }

  @media screen and (min-width: 1120px) {
    height: unset;
    aspect-ratio: 12/6;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contentInner {
  position: absolute;
  bottom: 70px;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  color: white;
  // padding-inline: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  padding-top: 25px;
  padding-bottom: 20px;
  // border-left: 3px solid #bd8948;

  @media screen and (min-width: 768px) {
    max-width: 80%;
  }

  @media screen and (min-width: 1024px) {
    left: 20%;
  }
}

// .overlay {
//   position: absolute;
//   top: 0;
//   // left: clamp(0.313rem, -0.256rem + 2.84vw, 1.875rem);
//   left: 40px;
//   right: -10px;
//   bottom: 0;
//   z-index: -1;
//   max-width: 85%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.6);
//   // background: rgba(26, 26, 26, 0.5);

//   @media screen and (min-width: 768px) {
//     max-width: 650px;
//   }
// }

.overlayWide {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .95), rgba(0, 0, 0, 0), rgba(0, 0, 0, .95));
    pointer-events: none;
}

.title {
  font-size: clamp(2rem, 2.5vw, 3.75rem);
  line-height: 120%;
  margin-bottom: 24px;
}

.subtitle {
  font-size: clamp(1.25rem, 1.125rem + 0.83vw, 1.875rem);
  font-weight: 300;
  margin-bottom: clamp(0.625rem, 0.521rem + 0.52vw, 1rem);
}

.description {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
}

.link {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background: #bd8948;
  border: 2px solid #bd8948;
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  // text-transform: uppercase;
  transition: background 0.3s, color 0.3s;

  &:hover {
    background: transparent;
    color: #fff;
    background-color: rgba(2, 1, 2, .2);
  }
}