.slide {
  position: relative;
  width: 100%;
  height: 100lvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.content {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 3px solid #c09d75;
  max-width: 800px;

  @media screen and (min-width: 768px) {
    left: 10%;
  }

  @media screen and (min-width: 1024px) {
    left: 20%;
  }
}

.title {
  font-size: clamp(2rem, 2.5vw, 3.75rem);
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
  text-shadow: 1px 1px 25px #020102;
}

.description {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  letter-spacing: .4px;
  margin-bottom: 1.25rem;
  text-shadow: 1px 1px 25px #020102;
}

.link {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background: #c09d75;
  border: 2px solid #c09d75;
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;

  &:hover {
    background: transparent;
    color: #fff;
    background-color: rgba(2, 1, 2, .2);
  }
}