.noProjects {
  color: #aa7f2e;
  font-size: clamp(2rem, 2.5vw, 3.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
}