@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --corp-color: #c09d75;
  --corp-color-dark: #8b6f4e;
  --corp-color-light: #e0c8a7;
  --black-color: #000000;
}

body {
  background: #000307;
}

.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;

  @media screen and (max-width: 1440px) {
    max-width: 1280px;
  }

  @media screen and (max-width: 1280px) {
    max-width: 1140px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 0 20px;
  }

  @media screen and (max-width: 480px) {
    padding: 0 20px;
  }
}

.h2 {
  color: #000;
  font-size: clamp(2rem, 2.5vw, 3.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
}