@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --corp-color: #c09d75;
  --corp-color-dark: #8b6f4e;
  --corp-color-light: #e0c8a7;
  --black-color: #000000;
}

body {
  background: #000307;
}

.container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;

  /* @media screen and (max-width: 1440px) {
    max-width: 1280px;
  }

  @media screen and (max-width: 1280px) {
    max-width: 1140px;
  } */

  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 0 20px;
  }

  @media screen and (max-width: 480px) {
    padding: 0 20px;
  }
}

.container-short {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;

  @media screen and (max-width: 1240px) {
    max-width: 1140px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 0 20px;
  }

  @media screen and (max-width: 480px) {
    padding: 0 20px;
  }
}

.no-scroll {
  overflow: hidden;
}

/* styles for the flag */
.PhoneInputInput {
  height: 100%;
  background-color: #f5f5f5;
  padding: 3px 0;
}

.PhoneInputInput:focus {
  outline: none;
}

.PhoneInputCountry {
  left: -5px;

  @media screen and (min-width: 768px) {
    left: -20px;
  }
}

.PhoneInputCountrySelectArrow {
  display: none !important;
}

.PhoneInputInternationalIconPhone {
  stroke: #c09d75; /* Цвет линии */
  fill: #c09d75; /* Цвет заливки */
  stroke-width: 3px; /* Толщина линии */
  width: 32px; /* Ширина значка */
  height: 32px; /* Высота значка */
}

.PhoneInputInternationalIconGlobe {
  stroke: #c09d75; /* Цвет линии */
  stroke-width: 3px; /* Толщина линии */
  width: 32px; /* Ширина значка */
  height: 32px; /* Высота значка */
}

.PhoneInputCountryIcon {
  margin-right: 8px; /* Отступ справа */
}

.PhoneInputInput {
  width: 100% !important;
  box-sizing: border-box;
  font-size: transparent;
}


.grayscale-flag img {
  filter: grayscale(100%);
}
/* styles for the flag */

.h2 {
  color: #000;
  font-size: clamp(2rem, 2.5vw, 3.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
}

.h2-white {
  color: #fff;
  font-size: clamp(2rem, 2.5vw, 3.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
  transition: all 0.3s ease !important;

  &.swiper-pagination-bullet-active {
    background-color: #c09d75 !important;
    opacity: 1;
    width: 50px !important;
    height: 12px !important;
    border-radius: 5px !important;
    transition: all 0.3s ease !important;
  }
}