.parallax {
  height: 40vh; /* Высота для остальных устройств */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.parallaxMobile {
  // height: 40vh; /* Высота для мобильных устройств */
  // object-fit: cover;
  aspect-ratio: 16 / 9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  object-fit: cover;
}