.project {
  width: 100%;
  overflow: hidden;
}

// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 2;
//   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
// }

.projectImage {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
  }
}

.projectTile {
  position: absolute;
  top: 5px;
  left: 8px;
  z-index: 2;
  padding: 10px;
  display: flex;
  gap: 5px;
}

.projectTileItem {
  color: #fff;
  font-size: clamp(0.75rem, 0.625rem + 0.25vw, 0.875rem);
  font-weight: 300;
  margin-bottom: 5px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
}

.projectInfo {
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 0;
  z-index: 2;
  padding: 10px;
}

.soldBadge {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  width: 150px;
  height: auto;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.projectTitle {
  color: #fff;
  font-size: clamp(1rem, 1.125rem + 0.5vw, 1.5rem);
  // font-weight: 500;
  margin-top: 10px;
}

.projectPrice {
  color: #fff;
  font-size: clamp(0.875rem, 0.625rem + 0.5vw, 1rem);
  // font-weight: 500;
  // margin-top: 5px;
}

.projectData {
  padding: 10px;
  // border-bottom: 1px solid rgba(170, 127, 46, 0.5);
  // border-left: 1px solid rgba(170, 127, 46, 0.5);
  // border-right: 1px solid rgba(170, 127, 46, 0.5);
  background: #554023;
  background: linear-gradient(
    to right, 
    #634929, #957143
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectDataItem {
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;

  &:last-child {
    display: none;
  }

  @media screen and (min-width: 768px) {
    &:last-child {
      display: block;
    }
  }
}

.projectDataItemDivider {
  width: 1px;
  height: 30px;
  background: #000;

  &:nth-child(4) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    &:nth-child(4) {
      display: block;
    }
  }
}