.success {
  margin-top: 100px;
  margin-bottom: clamp(1.563rem, 0.781rem + 3.13vw, 3.125rem);
  height: 40lvh;

  @media (min-width: 768px) {
    height: auto;
  }
  
  @media (min-width: 1380px) {
    height: 85lvh;
  }
}

.wrapper {
  // display: flex;
  // flex-direction: column;
  // gap: 30px;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #bd8948;

  // @media (min-width: 768px) {
  //   flex-direction: row;
  // }
}

.containerCustom {
  height: 100%;
}

.contentBlock {
  // flex: 1 0 calc(50% - 15px);
  padding-top: clamp(2.5rem, 0.938rem + 6.25vw, 5.625rem);
  padding-bottom: clamp(2.5rem, 0.938rem + 6.25vw, 5.625rem);
  padding-inline: clamp(1.875rem, -0.625rem + 10vw, 6.875rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.contentTop {
  display: flex;
  flex-direction: column;
  gap: clamp(2.813rem, 2.344rem + 1.88vw, 3.75rem);
  position: relative;
  z-index: 2;
}

.title {
  color: #FFF;
  font-size: clamp(1.5rem, 0.219rem + 5.13vw, 4.063rem);
  font-style: normal;
  font-weight: 400;
  line-height: 75px; /* 115.385% */
  letter-spacing: -4.55px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    line-height: 28.4px; /* 118.333% */
    letter-spacing: -1.68px;
  }
}

.description {
  color: #FFF;
  font-size: clamp(0.875rem, 0.563rem + 1.25vw, 1.5rem);
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    max-width: 500px;
  }
}

.socialIcons {
  display: flex;
  gap: 10px;
}

.imageBlock {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;

  @media (min-width: 1024px) {
    display: block;
  }
}

.image {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.linkBlock {
  margin-top: 20px;
  max-width: 500px;

  a {
    width: 100%;
    text-align: center;
  }
}

.contentBottom {
  position: relative;
  z-index: 2;
}